/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font-family: 'Open Sans';
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */

body {
  background-color: #547980;
  text-align: center;
}

/* Question Box */

.main_box {
  display: block;
  margin: 20px auto 0 auto;
  height: 350px;
  width: 550px;
  background-color: #9DE0AD;
}

.question_text {
  text-align: center;
  padding: 40px 40px;
  color: white;
  font-size: 55px;
  font-family: 'Open Sans';
  line-height: 1.3em;
}
/* Fixes for SVGs */

button {
  border: 0;
  display: inline;
  font-family: 'Open Sans';
}

svg {
	padding: 0;
	margin-bottom: -10px;
  display: inline-block;
  color: white;
  width: 50px;
  height: 50px;
  fill: white;
}

/* Add Card Button */

.add_card {
	color: LightSteelBlue;
	height: 90px;
	width: 341px;
	background-color: #E5FCC2;
	font-family: Open Sans;
	font-size: 35px;
	margin: 20px 20px 0 20px;
}

/* Answer Buttons */

.answer_buttons {
  margin-top: 15px;
  margin-bottom: 30px;
}

.wrong {
  background: url("img/wrong.png") no-repeat center center;
  background-size: 80%;
  height: 90px;
  width: 90px;
  margin-right: 10px;
  background-color: #594F4F;
}

.flip {
  position: relative;
  top: -31px;
  height: 90px;
  width: 341px;
  background-color: #45ADA8;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.right {
  background: url("img/check.png") no-repeat center center;
  background-size: 85%;
  height: 90px;
  width: 90px;
  margin-left: 10px;
  background-color: #C44D58;
}


/* Footer Instuctions */

.score {
	color: white;
	font-family: Open Sans;
	font-size: 25px;
	margin: -20px 0 20px 0;
}

.instructions {
  color: white;
  font-family: Open Sans;
  font-size: 15px;
  line-height: 1.5em;
}

/* For Smaller Screen */

@media (max-width: 800px) {
  .main_box {
    min-height: 250px;
    height: auto;
    width: 95%;
  }
  .add_card {
    width: 60%;
  }
  .flip {
    width: 50%;
  }
  .question_text {
    font-size: 9vw;
  }
}

@media (max-width: 600px) {
  .add_card {
    width: 40%;
    height: 60px;
  }
  .flip {
    width: 40%;
    height: 60px;
    top: -16px;
  }
  img {
    height: 30px;
  }
  .wrong, .right {
    height: 60px;
    width: 60px;
  }
  .wrong {
    margin-right: 5px;
  }
  .right {
    margin-left: 5px;
  }
}